@media screen and (max-width: 400px)
	// LANDING
	.logo-div
		img
			max-width 100%
		margin-bottom 20px
	.subtitle-landing 
		font-size 18px
	.disclaimer
		font-size 10px
	// HOME
	.welcome > h3
		font-size 18px
		margin-bottom 10px
	.welcome-p
		font-size 12px
	// EJUICE
	.name-label
		font-size 15px
	// FIND US
	iframe
		width 310px
		height 300px
@media screen and (max-width: 600px)
	// LANDING
	.logo-div
		img
			max-width 100%
		margin-bottom 20px
	// FIND US
	
	
@media screen and (max-width: 800px)
	// LANDING
	.logo-div
		img
			max-width 100%
		margin-bottom 20px
		
	iframe
		width 510px
		height 500px
@media screen and (min-width: 900px)
	// EJUICE TEMP
	.ejuice-temp-div
		text-align left
		p.desc-temp
			margin-left 5px
		p.small-label
			margin-left 5px
		span.size-btn
			margin 0px 10px
		span.nic-btn
			margin 0px 10px
		div.img-name-price
			text-align center !important
			margin-top 30px
			border-right 1px solid #eee
			hr
				border-color white
		div.ejuice-widget
			margin-top 30px
			margin-left 30px
		#add-to-cart-ejuice
			margin-left 10px
			
	// MODS TEMP
	.mods-temp-div
		text-align left
		
		p.desc-temp
			margin-left 5px
		div.img-name-price
			text-align center !important
			margin-top 30px
			border-right 1px solid #eee
			hr
				border-color white
			
		div.mods-widget
			margin-top 30px
			margin-left 30px
		#add-to-cart-mod
			margin-left 10px
	// TRIMS TEMP
	.trim-temp-div
		text-align left
		
		p.desc-temp
			margin-left 5px
		div.img-name-price
			text-align center !important
			margin-top 30px
			border-right 1px solid #eee
			hr
				border-color white
			
		div.trim-widget
			margin-top 30px
			margin-left 30px
		#add-to-cart-trim
			margin-left 10px
@media screen and (max-width: 1080px)
	.lg-screen
		display none
	ul.nav
		margin-top 10px !important
	// EJUICE TEMP
	span.nic-btn
		margin 0 5px
	
@media screen and (min-width: 1079px)
	.mobile-screen
		display none
	div.welcome > h2
		font-size 16px
	// EJUICE
	p.desc
		width 200px
	.name-label
		font-size 22px
		
	iframe
		width 700px
		height 600px
	
			
		
		
					
		
		
	
	