.orders-div
	margin-top 100px
.orders-panel
	margin 10px auto
	border-bottom 1px solid #e0e0e0
	padding 3px
.orders-panel-label
	margin 0 30px
	text-transform uppercase
	font-size 12px
	cursor pointer
span.ion-ios-paper
	font-size 20px
	color #1565C0
	cursor pointer
.archive-link
	text-decoration none
.archive-label
	font-size 10px
	
// MODALS

.modal-title
	font-family 'Roboto', sans-serif;
	font-weight 100
.modal-div
	max-height 600px
.list-item-label
	font-family 'Roboto', sans-serif
	font-weight bolder
	font-size 14px
	margin-right 5px
	color #0277BD
	