.mods-temp-div
	margin-top 80px
	background-color white
	img
		margin-top 15px
	padding-bottom 20px
#back-to-mods
	cursor pointer
	font-size 28px
	color #4A148C
	margin 20px 0px
.img-name-price
	img
		height 10%
		margin-bottom 10px
h4.name-h4
	font-family 'Quicksand'
	font-weight bold
	color #666