template(name='adminEjuice')
	div.container-fluid.text-center.admin-body-div

		// ADD
		div.col-lg-4
			div.panel.panel-info
				div.panel-heading
					h5.panel-title 
						span.ion-plus-round
						span ADD
				div.panel-body
					div.module-div
						p Add E-Juice to Inventory
						br
						input(type='text' placeholder='Name').form-control#name-ej
						input(type='text' placeholder='Description').form-control#desc-ej
						input(type='text' placeholder='Image file').form-control#url-ej
						br
						button.btn.btn-info#add-ejuice-btn
							i.fa.fa-plus &nbsp; ADD E-JUICE
					hr
					div.module-div
						p Add Bottle Sizes
						br
						input(type='text' placeholder='Bottle size in ml ( e.g. 75 )').form-control#bottle-size-input
						input(type='text' placeholder='Set Price').form-control#price-input
						br
						button.btn.btn-info#add-bottle-size-btn
							i.fa.fa-plus &nbsp; ADD BOTTLE SIZE
					hr
					div.module-div
						p Add Nicotine Levels
						br
						input(type='text' placeholder='Nicotine Level in mg ( e.g. 30 )').form-control#nicotine-level-input
						br
						button.btn.btn-info#add-nicotine-level-btn
							i.fa.fa-plus &nbsp; ADD NICOTINE LEVEL

		// EDIT
		div.col-lg-4
			div.panel.panel-primary
				div.panel-heading
					h5.panel-title 
						span.ion-edit
						span EDIT
				div.panel-body
					// INFO
					div.module-div
							p Edit E-Juice Info
							br
							input(type='text' placeholder='Name').form-control#edit-ejuice-name
							input(type='text' placeholder='Description').form-control#edit-ejuice-desc
							input(type='text' placeholder='Image file').form-control#edit-ejuice-url
							br
							button.btn.btn-primary#prev-ejuice-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-ejuice-btn SAVE
							button.btn.btn-primary#next-ejuice-btn
								span.ion-ios-arrow-forward
						hr
					// SIZES
					div.module-div
							p Edit Bottle Size & Price
							br
							div.col-md-2
								label(for='edit-bottle-size').control-label Size
							div.col-md-10
								input(type='text' placeholder='Name').form-control#edit-bottle-size
							br
							div.col-md-2
								label(for='edit-bottle-price').control-label Price
							div.col-md-10
								input(type='text' placeholder='Description').form-control#edit-bottle-price
							br
							button.btn.btn-primary#prev-size-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-size-btn SAVE
							button.btn.btn-primary#next-size-btn
								span.ion-ios-arrow-forward
						hr
		// REMOVE
		div.col-lg-4
			div.panel.panel-danger
				div.panel-heading
					h5.panel-title 
						span.ion-close-round
						span REMOVE
				div.panel-body
					div.module-div
						+each ejuice
							div.ejuice-remove-list
								span.pull-left #{name}
								span.pull-right#remove-ejuice-admin-list
									i.fa.fa-trash-o
							br