.admin-body-div
	margin-top 85px
.module-div
	border-radius 5px
	border 1px solid #E0E0E0
	padding 5px 10px
	p
		font-family 'Quicksand'
		font-weight bold
		color #555
.bert-alert.admin-add
	background-color #03A9F4
	color white
	font-family 'Quicksand'
	font-weight bold
	

.bert-alert.admin-edit
	background-color #00897B
	color white
	font-family 'Quicksand'
	font-weight bold

.bert-alert.admin-remove
	background-color #E53935
	color white
	font-family 'Quicksand'
	font-weight bold
	
.ejuice-remove-list:hover
	span
		color red !important
	span#remove-ejuice-admin-list
		cursor pointer
	span#remove-size-admin-list
		cursor pointer
	span#remove-nic-admin-list
		cursor pointer
		color #ccc
		
	