
.landing-body
	
	background-color #CE93D8
	height 100%
	top 0
	left 0
	position absolute
	width 100%
    
	
.logo-div
	margin-top 40px
.subtitle-landing
	color #424242
	margin-bottom 30px
	font-family 'Roboto', sans-serif
	font-weight 100
	margin-left -2000px
.landing-btn-div
	margin-top 1030px
	
	
.disclaimer
	font-family sans-serif
	color #E1BEE7
	//color #AB47BC
	font-weight bolder
	font-style italic
	margin-right -2000px 
	