template(name='landing')
	div.container-fluid.landing-body
		div.container-fluid.text-center.logo-div
			img(src='/assets/img/vaportimme-white-logo.png')

		div.container-fluid.text-center
			h3.subtitle-landing CUSTOM VAPE STORE IN NEW HOPE

		div.container-fluid.text-center.landing-btn-div
			a(href='/home').btn.btn-material-purple-800 
				h4 YES, I'M 18 OR OLDER