template(name='home')
	div.carousel
		div(data-src='/assets/img/carousel/c1.jpg')
		div(data-src='/assets/img/carousel/c2.jpg')
		div(data-src='/assets/img/carousel/c3.jpg')
		div(data-src='/assets/img/carousel/c4.jpg')
	div.welcome.text-center
		h3 Welcome to VAPORTIMME NEW HOPE!
		p.welcome-p Vaportimme is the preferred Vapor E- Cigarette store in New Hope. We offer both VG Only and 50% PG, 50% VG juices made here in Bucks County.
		p
			a.btn.btn-default.btn-material-purple-800.text-center#learn-more LEARN MORE
	div.container-fluid.text-center.footer
			span.terms-policy#terms Terms of Use
			span.terms-policy#privacy Privacy Policy
	div.container-fluid.text-center
		p.copy &copy; 1900 - 2016 VAPORTIMMENEWHOPE.COM and / or its affiliates
