.carousel
	margin-bottom 30px
	margin-top 75px
.welcome-p
	font-family 'Roboto', sans-serif
	font-weight 300
#learn-more
	//border 3px solid #CE93D8
.footer
	width 400px
	margin-bottom 10px
.copy
	font-size 10px
	color #666
