.carousel
	margin-bottom 30px
	margin-top 64px
.welcome-p
	font-family 'Roboto', sans-serif
	font-weight 300
#learn-more
	margin 30px auto
.footer
	width 400px
	margin-bottom 10px
.terms-policy
	cursor pointer
	text-transform uppercase
	margin 5px 30px
.copy
	font-size 10px
	color #666
.call-us
	font-weight bolder
	font-size 16px
	color #6A1B9A
