template(name='profile')
	div.container-fluid.text-center.profile-div
		div.col-md-6
			div.panel.panel-material-purple-700
				div.panel-heading
					h5.panel-title 
						span.ion-information-circled &nbsp;&nbsp;&nbsp;
						span PERSONAL INFO
				div.panel-body
					div.module-div
						p Name
							hr
		div.col-md-6
			div.panel.panel-material-purple-700
				div.panel-heading
					h5.panel-title 
						span.ion-location &nbsp;&nbsp;&nbsp;
						span SHIPPING ADDRESS
				div.panel-body
					div.module-div
						p Address
							hr

		button.btn.btn-danger#logout
			span 
				strong LOGOUT
			
				