template(name='profile')
	div.container-fluid.profile-div
			div.panel.panel-material-purple-700.text-center
				div.panel-heading
					h5.panel-title 
						span.ion-gear-a &nbsp;&nbsp;&nbsp;
						span PROFILE SETTINGS
				div.panel-body
					
					div.module-div.col-md-5.text-left.profile-module
						span.ion-ios-person &nbsp;&nbsp;&nbsp;
						span.module-title PERSONAL INFO
						hr
						input(type='text' placeholder='Name').form-control#profile-name
						br
						input(type='number' placeholder='Phone').form-control#profile-phone
						br
						input(type='email' placeholder='Email').form-control#profile-email

					div.module-div.col-md-5.text-left.profile-module
						span.ion-android-pin &nbsp;&nbsp;&nbsp;
						span.module-title SHIPPING ADDRESS
						hr
						input(type='text' placeholder='Address').form-control#profile-address
						br
						input(type='text' placeholder='City').form-control#profile-city
						br
						input(type='text' placeholder='State').form-control#profile-state
						br
						input(type='number' placeholder='Zip').form-control#profile-zip

					button.profile-btn.btn.btn-info.text-center#save-profile
						span.ion-android-checkmark-circle &nbsp;&nbsp;&nbsp;
						span
							strong SAVE
					br
					button.profile-btn.btn.btn-danger.text-center#logout
						span.ion-android-cancel &nbsp;&nbsp;&nbsp;
						span 
							strong LOGOUT
			
				