template(name='adminHome')
	div.container-fluid.text-center.admin-body-div

		// ADD
		div.col-lg-4
			div.panel.panel-info
				div.panel-heading
					h5.panel-title 
						span.ion-plus-round
						span ADD
				div.panel-body
					div.module-div
						p Add Home Images
						hr
						+autoForm id='insertHomeImagesForm' type='insert' collection='HomeImages'
							+afQuickField name='imageFile' type='cfs-file' collection='home-carousel'
							button(type='submit').btn.btn-info
								span.ion-plus-round &nbsp;&nbsp;&nbsp; 
								span 
									strong ADD IMAGE
					

		// EDIT
		//div.col-lg-4
			div.panel.panel-primary
				div.panel-heading
					h5.panel-title 
						span.ion-edit
						span EDIT
				div.panel-body
					div.module-div
							p Edit Home Images Info
							hr
							input(type='text' placeholder='Name').form-control#edit-trim-name
							input(type='text' placeholder='Description').form-control#edit-trim-desc
							input(type='text' placeholder='Kit Includes').form-control#edit-trim-kit
							input(type='text' placeholder='Set Price').form-control#edit-trim-price
							br
							button.btn.btn-primary#prev-trim-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-trim-btn SAVE
							button.btn.btn-primary#next-trim-btn
								span.ion-ios-arrow-forward
					
		// REMOVE
		div.col-lg-4
			div.panel.panel-danger
				div.panel-heading
					h5.panel-title 
						span.ion-close-round
						span REMOVE
				div.panel-body
					div.module-div
						p 
							span Home Carousel Image List &nbsp;&nbsp;&nbsp;
							span #{trimCount}&nbsp;&nbsp; images
						hr
						+each image
							div.ejuice-remove-list
								img(src='#{url}' style='width:20%; height:20%')
								span.ion-close-round.pull-right#remove-image-admin-list
									
								br
					

