template(name='findus')
	div.container-fluid.findus-div
		div.col-md-6
			div.panel.panel-material-purple-700.iframe-panel
						div.panel-heading.text-center
							h5.panel-title 
								span.ion-ios-location &nbsp;&nbsp;&nbsp;
								span FIND US &nbsp;
						div.panel-body.text-center.iframe-panel-body
							iframe(frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:EiYxNSBXIEZlcnJ5IFN0LCBOZXcgSG9wZSwgUEEgMTg5MzgsIFVTQQ&key=AIzaSyBw6uKzbdIVLo3dm4e1Y-zJKl0SQW8vzr8" allowfullscreen)

		div.col-md-6
			div.panel.panel-material-purple-700.store-panel
						div.panel-heading.text-center
							h5.panel-title 
								span.ion-bag &nbsp;&nbsp;&nbsp;
								span CHECKOUT OUR STORE &nbsp;
						div.panel-body.text-center.store-panel-body


