.mods-div
	margin-top 85px
	//background-image url('/assets/img/bg/dark_embroidery.png')
	//background-repeat repeat
.name-h5
	color #4A148C
	font-family 'Quicksand'
	font-weight bold
h4.price
	strong
		font-family 'Roboto', sans-serif
		font-weight 300
		color #222