.mods-div
	margin-top 85px
	//background-image url('/assets/img/bg/dark_embroidery.png')
	//background-repeat repeat
h4.price
	strong
		font-family 'Roboto', sans-serif
		font-weight 300
		color #222


#mod-img img
	overflow scroll