template(name='mods')
	div.text-center.mods-div
		+each mods
			div.thumbnail.grid-thumbnail.text-center.col-xs-5.col-sm-5.col-md-4.col-lg-3.zoom-out
				+with image
					img(src='#{url}' onload='this.style.opacity="1"')
				h5.name-label #{name}
				