.login-div
	margin-top 105px
	
.login-panel
	margin 30px auto
	//padding 20px
	max-width 360px

.ion-social-google-outline
	font-size 24px
.bert-alert.welcome-note
	background-color #7B1FA2
	color #eee