.login-div
	margin-top 85px
	
.login-panel
	margin 30px auto
	//padding 20px
	max-width 360px

.ion-social-google-outline
	font-size 24px
.bert-alert.welcome-note
	background-color #7B1FA2
	color #eee
.or
	text-align center
	display inline-block
	float none
	hr
		margin-top 20px
#or
	top -18px
	
	
#google
	width 250px
	margin-bottom 17px
#facebook
	width 250px
	
.social-link
	margin 20px 20px
	color #ccc