template(name='login')
	div.container-fluid.text-center.login-div
		div.panel.panel-material-purple-700.login-panel
			div.panel-heading
				h5.panel-title 
					span.ion-person &nbsp;&nbsp;&nbsp;
					span SIGN-IN WITH
			div.panel-body
				button.btn.btn-danger#google
					span.fa.fa-google &nbsp;&nbsp;&nbsp;
					span google