template(name='nav')
	nav.navbar.navbar-default
		div.container-fluid
			div.navbar-header
				a(href='/').navbar-brand
					img(alt='Brand' width='200' height='auto' src='/assets/img/vaportimme-logo-purple-green.png')
			div.row-fluid
				div.col-xs-1
					a.btn.btn-primary.links Home
				div.col-xs-1
					a.btn.btn-primary.links eJuice
				div.col-xs-1
					a.btn.btn-primary.links Mods
				div.col-xs-1
					a.btn.btn-primary.links FAQ
				div.col-xs-2
					a.btn.btn-primary.links Find Us
				div.col-xs-4
					a.btn.btn-primary.links Sign In