.navbar
	background-color #BDBDBD !important
	margin-bottom 100px
	//border-bottom 1px solid #E0E0E0
	height 85px
.links
	line-height 4.3em
	color #6A1B9A !important
	background-color #eee !important
.navbar-header
	width 100%
	margin 0
	background-color #BDBDBD !important
.nav
	background-color #BDBDBD !important
ul.nav
	margin-top 23px
	li > a > span
		color #6A1B9A !important
		font-weight bold
		letter-spacing 2px
		font-family 'Roboto', sans-serif
		font-weight 300
ul.nav > li > a > span:hover
	
	color #9E9E9E !important
ul.nav > li > a:focus
	color #9E9E9E !important
	border-bottom 1px solid #BDBDBD !important
ul.mobile-screen
	background-color transparent !important
span.badge
	color #4A148C !important
	background-color #E1BEE7 !important
ul.dropdown-menu
	//background-color rgba(224, 224, 244, 0.6 )
	background-image url('/assets/img/bg/symphony.png')
	background-repeat repeat
	li > a > span
		letter-spacing 2px
		
.menu-icon
	font-size 24px
	//margin-top -20px