template(name='nav')
	nav.navbar.navbar-default.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				a(href='/home').navbar-brand.withoutripple
					img(alt='Brand' width='200' height='auto' src='/assets/img/vaportimme-logo-purple-green.png')
				
				ul.nav.nav-tabs.nav-justified
					li#home
						a(href='/home').btn.btn-default.btn-flat.links
							i.fa.fa-home &nbsp; HOME
					li#e-juice
						a(href='/ejuice').btn.btn-default.btn-flat.links
							i.fa.fa-flask &nbsp;  E - JUICE
					li
						a.btn.btn-default.btn-flat.links
							i.fa.fa-tablet#mods &nbsp;  MODS
					li
						a.btn.btn-default.btn-flat.links
							i.fa.fa-question-circle#faq &nbsp;  FAQ
					li
						a.btn.btn-default.btn-flat.links
							i.fa.fa-facebook-square#social &nbsp;  SOCIAL
					li
						a.btn.btn-default.btn-flat.links
							i.fa.fa-shopping-cart#cart &nbsp;  CART
							span.badge.badge-default 0
					li
						a.btn.btn-default.btn-flat.links
							i.fa.fa-user#sign-in &nbsp;  SIGN IN