template(name='nav')
	nav.navbar.navbar-default.navbar-fixed-top.shadow-z-1
		div.container-fluid
			div.navbar-header
				a(href='/home').navbar-brand.withoutripple
					img(alt='Brand' width='200' height='auto' src='/assets/img/vaportimme-logo-purple-green.png' onload='this.style.opacity="1"')
				
				ul.nav.nav-tabs.nav-justified.lg-screen
					li#home
						a(href='/home').btn.btn-default.btn-flat.links
							span.ion-ios-home &nbsp; HOME
					li#e-juice
						a(href='/ejuice').btn.btn-default.btn-flat.links
							span.ion-waterdrop &nbsp;  E - JUICE
					li#mods
						a(href='/mods').btn.btn-default.btn-flat.links
							span.ion-ios-gear &nbsp;  MODS
					li#trims
						a.btn.btn-default.btn-flat.links
							span.ion-bag &nbsp;  TRIMS
					li#visit
						a.btn.btn-default.btn-flat.links
							span.ion-location &nbsp;  VISIT US
					li#cart
						a(href='/cart').btn.btn-default.btn-flat.links
							span.ion-ios-cart &nbsp;  CART
							span.badge.badge-default #{countCart}
					li#sign-in
						a.btn.btn-default.btn-flat.links
							span.ion-person &nbsp;  SIGN IN
				ul.nav.nav-tabs.nav-justified.mobile-screen
					li.pull-right
						a(href='bootstrap-elements.html' data-toggle='dropdown').dropdown-toggle.btn.btn-default.btn-flat.links#menu
							//span MENU
							span
								i.ion-navicon.menu-icon
						ul(arialabelledby='menu').dropdown-menu
							li
								a(href='/home')
									span
										i.ion-ios-home
									span HOME
							hr
							li
								a(href='/ejuice')
									span
										i.ion-waterdrop
									span E-JUICE
							hr
							li
								a(href='/mods')
									span
										i.ion-ios-gear
									span MODS
							hr
							li
								a(href='/trims')
									span
										i.ion-bag
									span TRIMS
							hr
							li
								a(href='#')
									span
										i.ion-location
									span VISIT US
							hr
							li
								a(href='/cart')
									span
										i.ion-ios-cart
									span CART
									span.badge.badge-default #{countCart}
							hr
							li
								a(href='#')
									span
										i.fa.fa-user
									span SIGN IN
