template(name='nav')
	nav.navbar.navbar-default.navbar-fixed-top.shadow-z-1
		div.container-fluid
			div.navbar-header
				a(href='/home').navbar-brand.withoutripple
					img(alt='Brand' width='200' height='auto' src='/assets/img/vaportimme-logo-purple-green.png' onload='this.style.opacity="1"')
				
				ul.nav.nav-tabs.nav-justified.lg-screen
					li#home
						a(href='/home').btn.btn-default.btn-flat.links
							span.ion-ios-home.helveticas &nbsp; HOME
					li#e-juice
						a(href='/ejuice').btn.btn-default.btn-flat.links
							span.ion-waterdrop &nbsp;  ONLINE STORE
					li#mods
						a(href='/mods').btn.btn-default.btn-flat.links
							span
								i.fa.fa-plug &nbsp;  
							span EQUIPMENTS
					li#faqs
						a(href='/faqs').btn.btn-default.btn-flat.links
							span.ion-help-circled &nbsp; VAPING FAQS
					li#findus
						a(href='/findus').btn.btn-default.btn-flat.links
							span.ion-location &nbsp;  FIND US
					li#cart
						a(href='/cart').btn.btn-default.btn-flat.links
							span.ion-ios-cart &nbsp;  CART &nbsp;
							span.cart-count #{countCart}
					if currentUser
						li#user
							a.btn.btn-default.btn-flat.links
								span.ion-person &nbsp;  #{user}
					else	
						li#sign-in
							a.btn.btn-default.btn-flat.links
								span.ion-person &nbsp;  SIGN IN
				ul.nav.nav-tabs.nav-justified.mobile-screen
					li.pull-right
						a(href='bootstrap-elements.html' data-toggle='dropdown').dropdown-toggle.btn.btn-default.btn-flat.links#menu
							//span MENU
							span
								i.ion-navicon.menu-icon
						ul(arialabelledby='menu').dropdown-menu
							br
							li
								a(href='/home')
									span
										i.ion-ios-home
									span HOME
							br
							li
								a(href='/ejuice')
									span
										i.ion-waterdrop
									span ONLINE STORE
							br
							li
								a(href='/mods')
									span
										i.fa.fa-plug
									span EQUIPMENT
							br
							li
								a(href='/faqs')
									span
										i.ion-help-circled
									span VAPING FAQS
							br
							li
								a(href='/findus')
									span
										i.ion-location
									span FIND US
							br
							li
								a(href='/cart')
									span
										i.ion-ios-cart
									span CART
									span.badge.badge-default #{countCart}
							br
							if currentUser
								li#user-dd
									a(href='/profile')
										span.ion-person
										span #{user}
							else
								li
									a(href='/login')
										span.ion-person
										span SIGN IN
