template(name='admin')
	div.container-fluid.text-center
		h2 ADMIN TOOLS
	div.container-fluid.admin-div
			ul.nav.nav-tabs.nav-justified.sub-title.text-center
				li
					a(href='#ejuice-content' data-toggle='tab')#ejuice-ad E-Juice
				li
					a(href='#mods-content' data-toggle='tab')#mods-ad MODS
	div.tab-content
		div.tab-pane.fade#ejuice-content
			div.container-fluid.admin-div
						ul.nav.nav-tabs.nav-justified.text-center
							li
								a(href='#add-content' data-toggle='tab')#add-tab ADD
							li
								a(href='#edit-content' data-toggle='tab')#edit-tab EDIT
							li
								a(href='#remove-content' data-toggle='tab')#remove-tab REMOVE
			div.tab-content

				div.tab-pane.fade#add-content
					div.container-fluid.text-center.ejuice-div-admin
						p Add E-Juice to Inventory
						br
						input(type='text' placeholder='Name').form-control#name-ej
						input(type='text' placeholder='Description').form-control#desc-ej
						input(type='text' placeholder='Image URL').form-control#url-ej
						br
						button.btn.btn-primary#add-ejuice-btn
							i.fa.fa-plus &nbsp; ADD E-JUICE
						br
						p Add Bottle Sizes
						br
						input(type='text' placeholder='Bottle size in ml (e.g. 75').form-control#bottle-size-input
						input(type='text' placeholder='Set Price').form-control#price-input
						br
						button.btn.btn-primary#add-bottle-size-btn
							i.fa.fa-plus &nbsp; ADD BOTTLE SIZE
						br
						p Add Nicotine Levels
						br
						input(type='text' placeholder='Nicotine Level in mg (e.g. 30').form-control#nicotine-level-input
						br
						button.btn.btn-primary#add-nicotine-level-btn
							i.fa.fa-plus &nbsp; ADD NICOTINE LEVEL

		div.tab-pane.fade#mods-content
			div.container-fluid.text-center
				h1 Mods

		
