template(name='adminMods')
	div.container-fluid.text-center.admin-body-div

		// ADD
		div.col-lg-4
			div.panel.panel-info
				div.panel-heading
					h5.panel-title 
						span.ion-plus-round
						span ADD
				div.panel-body
					div.module-div
						p Add Mods to Store
						hr
						+autoForm id='insertModForm' type='insert' collection='Mods'
							+afQuickField name='name' placeholder='Name'
							+afQuickField name='desc' placeholder='Description'
							+afQuickField name='kit' placeholder='Kit Includes'
							+afQuickField name='price' placeholder='Set Price'
							+afQuickField name='imgId' type='cfs-file' collection='mods-images'
							button(type='submit').btn.btn-info
								span.ion-plus-round &nbsp;&nbsp;&nbsp; 
								span 
									strong ADD MOD
					

		// EDIT
		div.col-lg-4
			div.panel.panel-primary
				div.panel-heading
					h5.panel-title 
						span.ion-edit
						span EDIT
				div.panel-body
					div.module-div
							p Edit Mod Info
							br
							input(type='text' placeholder='Name').form-control#edit-mod-name
							input(type='text' placeholder='Description').form-control#edit-mod-desc
							input(type='text' placeholder='Kit Includes').form-control#edit-mod-kit
							input(type='text' placeholder='Image file').form-control#edit-mod-url
							input(type='text' placeholder='Set Price').form-control#edit-mod-price
							br
							button.btn.btn-primary#prev-mod-btn
								span.ion-ios-arrow-back
							button.btn.btn-primary#save-mod-btn SAVE
							button.btn.btn-primary#next-mod-btn
								span.ion-ios-arrow-forward
					
		// REMOVE
		div.col-lg-4
			div.panel.panel-danger
				div.panel-heading
					h5.panel-title 
						span.ion-close-round
						span REMOVE
				div.panel-body
					div.module-div
						p Mods List &nbsp; ( #{modCount} items )
						br
						+each mod
							div.ejuice-remove-list
								span.pull-left $ #{price} &nbsp;&nbsp;
								span.pull-left #{name}
								span.pull-right#remove-mod-admin-list
									i.fa.fa-trash-o
								br
					

