.ejuice-temp-div
	margin-top 80px
	background-color white
	img
		margin-top 15px
	padding-bottom 20px
#back-to-ejuice
	cursor pointer
	font-size 28px
	color #4A148C
	margin 20px 0px
.name-label-temp
	font-family 'Roboto', sans-serif
	font-weight 100
	text-transform uppercase
p.desc-temp
	color #4A148C
	margin-left 10px
.bert-alert.addThis
	background-color #666
	color #81D4FA
	//font-family 'Quicksand'
div.thumbnail > hr
	margin 0
.small-label
	font-size 12px
	strong
		font-family 'Quicksand'
		font-weight bold
		color #555
.small-number
	font-size 14px
	font-family 'Quicksand'
	font-weight bold
	color #4A148C !important
span.size-btn
	cursor pointer
	margin 5px 5px
	-webkit-user-select none  /* Chrome all / Safari all */
    -moz-user-select none     /* Firefox all */
    -ms-user-select none      /* IE 10+ */
    user-select none
.nic-btn
	cursor pointer
	margin 5px 2px
	-webkit-user-select none  /* Chrome all / Safari all */
    -moz-user-select none     /* Firefox all */
    -ms-user-select none      /* IE 10+ */
    user-select none
i.i-square
	color #E0E0E0
	
span.highlight
	i	
		color #4A148C
	p
		color #eee !important
	
.bert-alert.add-to-cart-ejuice
	background-color #7B1FA2
	color #eee

