template(name='payments')
	div.container-fluid.text-center.payment-div
		div.panel.panel-material-purple-700.store-panel
			div.panel-heading.text-center
				h5.panel-title 
					span.ion-cash &nbsp;&nbsp;&nbsp;
					span ADD A PAYMENT METHOD &nbsp;
			div.panel-body

				// BILLING ADDRESS PANEL
				div.payment-outer-panel.col-md-6
					div.payment-panel-billing
						h6
							span.ion-email &nbsp;&nbsp;
							span ENTER BILLING ADDRESS
							
							div.checkbox
								label
									input(type='checkbox')#same-as-shipping
									span &nbsp; SAME AS SHIPPING
						hr
						
						+autoForm id='addBillingAddress' type='insert' collection='BillingAddress'
							h6.credit-card-label.pull-left ADDRESS
							+afQuickField name='address'
							h6.credit-card-label.pull-left CITY
							+afQuickField name='city'
							h6.credit-card-label.pull-left STATE
							+afQuickField name='state'
							h6.credit-card-label.pull-left ZIP CODE
							+afQuickField name='zip'
							button(type='submit').btn.btn-primary SAVE BILLING ADDRESS
				
				// CREDIT CARD PANEL
				div.payment-outer-panel.col-md-6
					div.payment-panel
						h6
							span.ion-card &nbsp;&nbsp;
							span ADD CREDIT CARD
						hr
					
						+autoForm id='addCreditCard' type='insert' collection='PaymentInfo'
							h6.credit-card-label.pull-left CARD NUMBER
							+afQuickField name='creditCard'
							h6.credit-card-label.pull-left CVC
							+afQuickField name='cvc'
							h6.credit-card-label.pull-left EXPIRATION DATE
							+afQuickField name='expiration'
							button(type='submit').btn.btn-primary ADD CARD

				

