.payment-div
	margin-top 95px
.payment-outer-panel
	padding 10px 10px
	
.payment-panel-billing
	border 1px solid #ccc
	border-radius 3px
	padding 20px 15px
	height 570px
	input
		font-family 'Roboto'
		font-weight 100
		font-size 18px
		color #6A1B9A
		line-height 18px
	hr
		border-bottom 3px solid #CE93D8
.same-input
	margin-bottom 15px

.payment-panel
	border 1px solid #ccc
	border-radius 3px
	padding 20px 15px
	height 470px
	input
		font-family 'Roboto' !important
		font-weight 100
		font-size 25px
		color #6A1B9A
		letter-spacing 1px
		line-height 31px
	hr
		border-bottom 3px solid #CE93D8
		
.credit-card-label
	font-size 10px
	margin-left 0px

#remove-card
	margin-left 30px
	cursor pointer
	color #ccc
#remove-card:hover
	color red
	