.payment-div
	margin-top 95px
.payment-outer-panel
	padding 10px 10px
	
.payment-panel
	border 1px solid #ccc
	border-radius 3px
	padding 10px 5px
	height 300px
	input
		font-family 'Quicksand'
		font-weight bolder
		
.credit-card-label
	margin-bottom 35px
	font-size 10px
	margin-left 0px
