
.ejuice-div
	margin-top 85px
	background-image url('/assets/img/bg/dark_embroidery.png')
	background-repeat repeat
.grid-thumbnail
	height 500px
	margin 15px 15px
	text-align center
	display inline-block
	float none
p.desc
	height 50px
	color #4A148C
.name-h4
	//border-bottom 1px solid #eee !important
.bert-alert.addThis
	background-color #666
	color #81D4FA
	//font-family 'Quicksand'