
.ejuice-div
	margin-top 85px
	padding 10px 0px
	background-image url('/assets/img/bg/dark_embroidery.png')
	background-repeat repeat
.grid-thumbnail
	margin 10px 10px
	text-align center
	display inline-block
	float none
	min-height 200px
p.desc
	width 150px
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	color #4A148C
.name-h4
	font-family 'Roboto', sans-serif
	font-weight 100
	color #222
.bert-alert.addThis
	background-color #666
	color #81D4FA
	//font-family 'Quicksand'
div.thumbnail > hr
	//margin 0
.small-label
	font-size 12px
.small-number
	font-size 12px
	
.grid-thumbnail
	img 
		opacity 0
		-moz-transition  opacity 2s /* Firefox 4 */
		-webkit-transition  opacity 2s /* Safari and Chrome */
		-o-transition  opacity 2s
		transition  opacity 2s
