.ejuice-div
	margin-top 75px
.grid-thumbnail
	height 500px
	margin 15px 15px
	text-align center
	display inline-block
	float none
p.desc
	height 50px
	color #4A148C
.name-h4
	//border-bottom 1px solid #eee !important
		
		// 