.cart-div
	margin-top 105px
h6.name-h6
	font-family 'Quicksand'
	font-weight bold
	font-size 14px !important
	color #777
div.row-action-primary
	span
		color #4A148C
		font-size 14px
	padding-top 5px
div.list-group
	hr
		border-color #999
div.total-div
	p
		font-family 'Quicksand'
		span
			lettter-spacing 1px
			strong
				font-family 'Roboto', sans-serif
				font-weight 300
				font-size 16px
				letter-spacing 1px
	max-width 400px
	padding 0 20px
	.total-label
		font-weight bolder
		span
			strong
				font-weight bolder
div.checkout-div
	margin 20px auto
div.empty-cart
	span
		font-size 120px
		color #999
		
div#trash
	span
		font-size 20px
		color #666
		cursor pointer
	span:hover
		color #C62828
.bert-alert.remove-from-cart
	background-color #C62828
	color #eee
	font-weight bolder
span.ion-bag
	font-size 20px
.paypal
	margin 20px auto
.or
	color #666
.hr-dark
	width 375px
	