.faqs-div
	margin-top 95px
	height 100%
	background-color #CE93D8
	
.quote-div
	border-left 5px solid #CE93D8
	padding-left 15px
	margin-bottom 30px
.quote-label
	font-family 'Quicksand'
	font-weight 700
	color #666
.grey-title
	color #8E24AA
	letter-spacing 2px
	font-family 'Alegreya Sans'
	font-weight 900
.grey-content-small
	font-size 10px	
