template(name='faqs')
	div.container-fluid.faqs-div
		div.col-md-6.up-animate
			div.panel.panel-material-purple-700
				div.panel-heading.text-center
					h5.panel-title 
						span What is Vaping &nbsp;
						span.ion-ios-help-outline
				div.panel-body
					div.quote-div
						p.quote-label Is Vaping harmful?
						p.quote-label Does it contain tobacco?
						p.quote-label Is it safer than smoking?
					p.grey-title DEFINITION
					hr
					p.grey-content Vaping can be defined as the act of inhaling vapor from e-liquid through a personal vaporizer.
					p.text-center
						span.ion-ios-more
					p.grey-title WHAT IS E-LIQUID ( a.k.a E-JUICE )
					hr
					p.grey-content E-Liquids generally consist of Propylene Glycol ( PG ) of Vegetable Glycol ( VG ) or both. A combination of PG and/or VG with natural of artificial flavors are used to create exotic and unique flavors.
					p.text-center
						span.ion-ios-more
					p.grey-title WHO INVENTED VAPING
					hr
					p.grey-content The big brain behind the invention was Hon Lik, a Chinese pharmacist who took inspiration from the death of his father. Cause? Cancer from smoking.
					p.text-center
						span.ion-ios-more
					div.text-center
						a(href='http://www.vapersoul.com/what-is-vaping/').btn.btn-material-purple-800.read-article Read full article
						br
						span.grey-content-small http://www.vapersoul.com/what-is-vaping/

		div.col-md-6.up-animate
			div.panel.panel-material-purple-700
				div.panel-heading.text-center
					h5.panel-title 
						span.ion-ios-heart &nbsp;&nbsp;&nbsp;
						span The American Heart Association
				div.panel-body
						p.grey-title The American Heart Association Approves of E-Cigarettes as Cessation Devices and Harm Reducers
						hr
						p The American Heart Association recently released a policy statement regarding Electronic Cigarettes in their journal, Circulation. The American Heart Association, or AHA, has long been a proponent of tobacco control, and reports great success with their efforts of reducing the number of youth and adolescents who become active smokers. The AHA published their policy and guidance on e-cigarettes, and while they stressed the importance of more research and regulation, they also reaffirmed how electronic cigarettes can be an effective, and a safer, method of nicotine replacement therapy that can aid users in their battle to quit smoking.
						br
						p The AHA provided recommendations for policy on the manufacturing, use and distribution of e-cigarettes in their report published on August 25th, 2014. Their policy stresses how they believe we as a society should move forward in the new and ever changing market of electronic nicotine delivery systems. Stressing the absolute importance of more research was one of the objects at the top of their list.

						div.text-center
							a(href='http://info-electronic-cigarette.com/the-american-heart-association-approves-of-e-cigarettes-as-cessation-devices-and-harm-reducers/').btn.btn-material-purple-800.read-article Read full article
							br
							span.grey-content-small http://info-electronic-cigarette.com/the-american-heart-association-approves-of-e-cigarettes-as-cessation-devices-and-harm-reducers/