template(name='faqs')
	div.container-fluid.faqs-div
		div.col-md-6
			div.panel.panel-material-purple-700
				div.panel-heading.text-center
					h5.panel-title 
						span What is Vaping &nbsp;
						span.ion-ios-help-outline
				div.panel-body
					div.quote-div
						p.quote-label Is Vaping harmful?
						p.quote-label Does it contain tobacco?
						p.quote-label Is it safer than smoking?
					p.grey-title DEFINITION
					hr
					p.grey-content Vaping can be defined as the act of inhaling vapor from e-liquid through a personal vaporizer.
					p.text-center
						span.ion-ios-more
					p.grey-title WHAT IS E-LIQUID ( a.k.a E-JUICE )
					hr
					p.grey-content E-Liquids generally consist of Propylene Glycol ( PG ) of Vegetable Glycol ( VG ) or both. A combination of PG and/or VG with natural of artificial flavors are used to create exotic and unique flavors.
					p.text-center
						span.ion-ios-more
					p.grey-title WHO INVENTED VAPING
					hr
					p.grey-content The big brain behind the invention was Hon Lik, a Chinese pharmacist who took inspiration from the death of his father. Cause? Cancer from smoking.
					p.text-center
						span.ion-ios-more
					a(href='http://www.vapersoul.com/what-is-vaping/').btn.btn-material-purple-800.read-article Read full article
					span.grey-content-small http://www.vapersoul.com/what-is-vaping/

		div.col-md-6
			div.panel.panel-material-purple-700
				div.panel-heading
					h5.panel-title 
						span.ion-location &nbsp;&nbsp;&nbsp;
						span SHIPPING ADDRESS
				div.panel-body
					div.module-div
						p Address
							hr